
<div class="page-footer">
  <div class="container">
    <div class="copyright">
      <a class="copyright-link" href="http://escolacem.com.br"> <%= image_tag "Logo-CEM-2-branco-branco.png" %></a>
    </b>
    </div>
  </div>
</div>
