.ticket-form {
    color: red;
  }
  
  

  .new-form{
    color: #00CD00;

  }
  .potential-form {
    color: #708090;
  
  }
  .pending-form {
    color: SeaGreen;
  
  }
  .registration-form {
    color: #CD6600;
  }

  .registered-form{
    color: #0000CD;

  }
  
