nav{
  opacity: 1;
  background: linear-gradient(to right, LightSeaGreen	, Blue); 

  .brand-logo{
    margin-left: 10px;
    .logo-title{
      font-size: 20px;
    }
  }
}
#dropdown1{
  top:64px !important;
}